<launch>
  <!-- Core exploration stack: camera coverage map + frontier planner. -->
  <arg name="coverage_range_m" default="1.5" />
  <arg name="camera_info_topic" default="/camera/color/camera_info" />
  <arg name="camera_frame" default="camera_link" />
  <arg name="map_topic" default="/map" />
  <arg name="coverage_topic" default="/cam_coverage" />
  <arg name="goal_topic" default="/move_base_simple/goal" />
  <arg name="global_costmap_topic" default="/move_base/global_costmap/costmap" />
  <arg name="min_frontier_dist_m" default="0.3" />
  <arg name="safety_radius_m" default="0.2" />
  <arg name="enabled_at_start" default="false" />
  <arg name="map_output_dir" default="$(find limo_rosa_bridge)/maps" />
  <arg name="default_map_name" default="limo_lab_map" />

  <node pkg="limo_rosa_bridge" type="cam_coverage_node.py" name="cam_coverage_node" output="screen">
    <param name="range_m" value="$(arg coverage_range_m)" />
    <param name="camera_info_topic" value="$(arg camera_info_topic)" />
    <param name="frame_camera" value="$(arg camera_frame)" />
    <param name="map_topic" value="$(arg map_topic)" />
    <param name="coverage_topic" value="$(arg coverage_topic)" />
  </node>

  <node pkg="limo_rosa_bridge" type="frontier_explorer_node.py" name="frontier_explorer" output="screen">
    <param name="coverage_topic" value="$(arg coverage_topic)" />
    <param name="goal_topic" value="$(arg goal_topic)" />
    <param name="global_costmap_topic" value="$(arg global_costmap_topic)" />
    <param name="min_frontier_dist_m" value="$(arg min_frontier_dist_m)" />
    <param name="safety_radius_m" value="$(arg safety_radius_m)" />
    <param name="enabled_at_start" value="$(arg enabled_at_start)" />
  </node>

  <!-- Map save helper exposed as /map_update_manager/save_map (std_srvs/Trigger). -->
  <node pkg="limo_rosa_bridge" type="map_update_manager_node.py" name="map_update_manager" output="screen">
    <param name="output_dir" value="$(arg map_output_dir)" />
    <param name="default_map_name" value="$(arg default_map_name)" />
  </node>
</launch>
