<launch>
  <!-- Core always-on autonomy stack -->
  <arg name="coverage_range_m" default="1.5" />
  <arg name="camera_info_topic" default="/camera/color/camera_info" />
  <arg name="camera_frame" default="camera_link" />
  <arg name="map_topic" default="/map" />
  <arg name="coverage_topic" default="/cam_coverage" />
  <arg name="goal_topic" default="/move_base_simple/goal" />
  <arg name="global_costmap_topic" default="/move_base/global_costmap/costmap" />
  <arg name="min_frontier_dist_m" default="0.3" />
  <arg name="safety_radius_m" default="0.2" />
  <arg name="strategy" default="closest" />
  <arg name="replan_period" default="2.0" />
  <arg name="segment_max_len" default="3.0" />
  <arg name="min_forward_free" default="0.4" />
  <arg name="heading_samples" default="16" />
  <arg name="start_camera_preview" default="true" />
  <arg name="camera_preview_topic" default="/camera/color/image_raw" />
  <arg name="camera_preview_window_name" default="limo_camera_preview" />
  <arg name="camera_preview_display" default=":0" />

  <!-- Planner choice: enable one by default -->
  <arg name="use_frontier_planner" default="true" />
  <arg name="use_straight_planner" default="false" />

  <node pkg="limo_rosa_bridge" type="cam_coverage_node.py" name="cam_coverage_node" output="screen">
    <param name="range_m" value="$(arg coverage_range_m)" />
    <param name="camera_info_topic" value="$(arg camera_info_topic)" />
    <param name="frame_camera" value="$(arg camera_frame)" />
    <param name="map_topic" value="$(arg map_topic)" />
    <param name="coverage_topic" value="$(arg coverage_topic)" />
  </node>

  <group if="$(arg start_camera_preview)">
    <node pkg="image_view" type="image_view" name="camera_preview" output="screen">
      <param name="autosize" value="true" />
      <param name="window_name" value="$(arg camera_preview_window_name)" />
      <remap from="image" to="$(arg camera_preview_topic)" />
      <env name="DISPLAY" value="$(arg camera_preview_display)" />
    </node>
  </group>

  <group if="$(arg use_frontier_planner)">
    <node pkg="limo_rosa_bridge" type="frontier_planner_node.py" name="frontier_goal_selector" output="screen">
      <param name="coverage_topic" value="$(arg coverage_topic)" />
      <param name="goal_topic" value="$(arg goal_topic)" />
      <param name="global_costmap_topic" value="$(arg global_costmap_topic)" />
      <param name="min_frontier_dist_m" value="$(arg min_frontier_dist_m)" />
      <param name="safety_radius_m" value="$(arg safety_radius_m)" />
      <param name="strategy" value="$(arg strategy)" />
    </node>
  </group>

  <group if="$(arg use_straight_planner)">
    <node pkg="limo_rosa_bridge" type="straight_planner_node.py" name="straight_explore_planner" output="screen">
      <param name="coverage_topic" value="$(arg coverage_topic)" />
      <param name="goal_topic" value="$(arg goal_topic)" />
      <param name="global_costmap_topic" value="$(arg global_costmap_topic)" />
      <param name="replan_period" value="$(arg replan_period)" />
      <param name="segment_max_len" value="$(arg segment_max_len)" />
      <param name="min_forward_free" value="$(arg min_forward_free)" />
      <param name="heading_samples" value="$(arg heading_samples)" />
    </node>
  </group>
</launch>
