<launch>
  <!-- Red cube detector (pure perception). -->
  <arg name="rgb_topic" default="/camera/color/image_raw" />
  <arg name="depth_topic" default="/camera/depth/image_raw" />
  <arg name="info_topic" default="/camera/color/camera_info" />
  <arg name="target_frame" default="map" />
  <arg name="base_frame" default="base_link" />
  <arg name="camera_frame" default="camera_depth_optical_frame" />
  <arg name="publish_debug" default="false" />
  <arg name="min_area_px" default="50" />
  <arg name="max_area_px" default="4000" />

  <node pkg="limo_rosa_bridge" type="red_cube_detector_node.py" name="red_cube_detector" output="screen">
    <param name="rgb_topic" value="$(arg rgb_topic)" />
    <param name="depth_topic" value="$(arg depth_topic)" />
    <param name="info_topic" value="$(arg info_topic)" />
    <param name="target_frame" value="$(arg target_frame)" />
    <param name="base_frame" value="$(arg base_frame)" />
    <param name="camera_frame" value="$(arg camera_frame)" />
    <param name="publish_debug" value="$(arg publish_debug)" />
    <param name="min_area_px" value="$(arg min_area_px)" />
    <param name="max_area_px" value="$(arg max_area_px)" />
  </node>
</launch>
