<launch>
  <include file="$(find limo_bringup)/launch/limo_start.launch" />

  <include file="$(find limo_bringup)/launch/limo_gmapping.launch" />

  <include file="$(find limo_bringup)/launch/limo_move_base.launch" />

  <include file="$(find astra_camera)/launch/dabai_u3.launch">
      <arg name="enable_depth" value="true" />
      <arg name="depth_align" value="true" />
      
      <arg name="color_width" value="640" />
      <arg name="color_height" value="480" />
      
      <arg name="depth_width" value="640" />
      <arg name="depth_height" value="400" />
  </include>

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

  <include file="$(find limo_rosa_bridge)/launch/autonomy_core.launch">
    <arg name="use_frontier_planner" value="false" />
    <arg name="use_straight_planner" value="false" />
  </include>

  <include file="$(find limo_rosa_bridge)/launch/autonomy_perception.launch" />
  <include file="$(find limo_rosa_bridge)/launch/autonomy_blue_grasp.launch" />
</launch>