<launch>

  <!-- Robot -->
  <include file="$(find limo_bringup)/launch/limo_start.launch" />

  <!-- Robot state (URDF → TF → KDL) -->
  <node
    pkg="robot_state_publisher"
    type="robot_state_publisher"
    name="robot_state_publisher" />

  <!-- Rosbridge (LLM / Django / Web) -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port" value="9090"/>
  </include>
  <param name="robot_description" command="$(find xacro)/xacro $(find limo_description)/urdf/limo.urdf.xacro"/>


  <!-- Existing executor -->
  <node
    name="rosa_executioner"
    pkg="limo_rosa_bridge"
    type="simple_mover.py"
    output="screen" />

  <!-- PyKDL tools -->
  <node
    name="pykdl_tools"
    pkg="limo_rosa_bridge"
    type="pykdl_tools.py"
    output="screen" />

</launch>
